* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ec4989;
    font-family: Arial;
    color: white;
}

.game {
    width: 100%;
    height: 100vh;
    display: grid;
    gap: 1rem;
    place-content: center;
}